[Unit]
Description=GPIO Driver Initialization at Bootup

[Service]
ExecStart=/bin/sh -c '/lib/modules/$(uname -r)/aesdgpio_load'

[Install]
WantedBy=multi-user.target
