[Unit]
Description=GPIO Driver Initialization at Bootup

[Service]
ExecStart=/lib/modules/${uname -r}/aesdgpio_load

[Install]
WantedBy=multi-user.target
